<nav >
    <ul >
        <li class="navig" style="margin-left: 0;"><a routerLink = "/main">
            <img src = '/assets/Logo.png'width = "30%" height="15%">
        </a></li>
        <li class="navig"><a routerLink = "/about" ><span class="text"> О нас </span></a></li>
        <li *ngIf = "isUserEnt" class="navig"><a routerLink = "/polls/mypolls"> <span class="text ">Мои опросы</span> </a></li>
        <li class="navig"><a routerLink = "/polls/allpolls"> <span class="text ">Все опросы</span> </a></li>
        <li *ngIf = "isUserAdmin" class="navig"><a routerLink = "/admin"> <span class="text ">Админ панель</span> </a></li>
        <li class= "navig"><button (click)="out()" class = text>Выйти</button></li>
        <div style="border-top:10px solid red; "></div>
    </ul>
    
</nav>
<main>
    <div  class="survey-container">
        
        <div class="survey-card" *ngFor="let survey of surveys"><a [routerLink]="['/poll', survey.id]" style="color: white">
            
            <h3>{{ survey.title }}</h3>
            <p>Автор: {{survey.enterprise}}</p></a>
        </div>
    </div>
</main>
